@model MeetingViewModel

<h1>@ViewData["Title"] </h1>
<p>Du har fått en mötesinbjudan från <b>@Model.Meeting.Host.Name</b>.</p>
<p>Vänligen välj vilka datum som passar dig.</p>
<h3>@Model.Meeting.Subject</h3>
<p>@Model.Meeting.Description</p>

<form>
    <div id="cb-meetingDates">
        @foreach (var date in Model.Meeting.DateRequests)
        {
            <div class="form-check">
                <input class="form-check-input" id="defaultCheck1-@date.Id" type="checkbox" value="@date.Id">
                <label class="form-check-label" for="defaultCheck1-@date.Id">
                    @date.Start.ToString("yyyy-MM-dd ddd HH:mm") - @date.End.ToString("HH:mm")
                </label>
            </div>
        }
    </div>
    <div id="cb-decline">
        <div class="form-check">
            <input class="form-check-input" id="defaultCheck2" type="checkbox" value="@Model.Meeting.Id">
            <label class="form-check-label" for="defaultCheck2">
                Jag kan inte närvara.
            </label>
        </div>
    </div>
        <button id="AcceptDates" class="btn btn-primary mt-3" type="submit">Spara mina val</button>
</form>

@section Scripts {
    <script src="/js/MeetingChooser.js"></script>
}